body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    padding-top: 60px;
    font-family: 'Roboto', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar {
    background-color: #343a40;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

canvas {
    max-width: 75vw;
    max-height: 75vh;
    border: 1px solid #dee2e6;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
}

.generation-counter {
    margin-top: 10px;
    font-size: 18px;
    flex-grow: 1;
    text-align: right;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.button-container {
    display: flex;
    gap: 10px;
}
